<p id="notice"><%= notice %></p>

<h1>Listing Logs</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Date time</th>
      <th>Ssid</th>
      <th>Bssid</th>
      <th>Signal strength</th>
      <th>Device info</th>
      <th>Device mac</th>
      <th>State</th>
      <th>Connection type</th>
      <th>Roaming</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.file_name %></td>
        <td><%= log.date_time %></td>
        <td><%= log.ssid %></td>
        <td><%= log.bssid %></td>
        <td><%= log.signal_strength %></td>
        <td><%= log.device_info %></td>
        <td><%= log.device_mac %></td>
        <td><%= log.state %></td>
        <td><%= log.connection_type %></td>
        <td><%= log.roaming %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
